@import "./mixins";

.container {
  width: 100%;
  margin: 0 auto;
  @include mediaQuery(320px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include mediaQuery(768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include mediaQuery(1280px) {
    width: 1280px;
  }
}
