@import "./mixins";

.container {
  width: 100%;
  margin: 0 auto;
  @include mediaQuery(375px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @include mediaQuery(768px) {
    padding-left: 24px;
    padding-right: 24px;
  }
  @include mediaQuery(1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @include mediaQuery(1536px) {
    padding-left: 60px;
    padding-right: 60px;
  }
  @include mediaQuery(1920px) {
    padding-left: 60px;
    padding-right: 60px;
    width: 1920px;
  }
}
