:root {
  --font-mono: "Roboto" ui-monospace, Menlo, Monaco, "Cascadia Mono",
    "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace",
    "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --background-color: #141416;
  --color: #fafafa;

  --border-radius: 40px;
  --border: 1px solid #fafafa;

  --text-color: #fafafa;
  --input-text-color-hover: #a7ef8d;

  --text-color-valid: #228b22;
  --text-color-dark: #141416;

  --btn-text-color-hover: #141416;
  --hover-background: #a7ef8d;

  --invalid: #b3261e;
}

/* #B3261E */

/* @media (prefers-color-scheme: dark) {
  :root {
   
  }
} */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}
main {
  height: calc(100vh - 120px);
}

a {
  color: inherit;
  text-decoration: none;
}
ul {
  list-style-type: none;
}
h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}
