@import "../utils/container.scss";
@import "../utils/mixins";

.section {
  padding-top: 55px;
}
.container__resend {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  @include font(18px, 2vw, 26px, 500, 32px);
}

.text {
  padding-top: 24px;
  @include font(14px, 2vw, 18px, 500, 22px);
}
.email__text {
  color: #0033ff;
  margin-left: 10px;
}
.timer {
  text-align: center;
  padding: 24px 0;
  @include font(14px, 2vw, 18px, 500, 22px);
}
.form {
  flex-direction: column;
  @include flexCenter();
  // gap: 24px;
}
.form__box {
  position: relative;
  max-width: 768px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @include mediaMaxQuery(477px) {
    justify-content: center;
  }
}

.input {
  width: 100px;
  height: 100px;
  border: var(--border);
  border-radius: 12px;
  outline: none;
  background-color: transparent;
  text-align: center;
  color: var(--text-color);
  @include font(40px, 2vw, 61px, 400, 71px);
  &:focus {
    border-color: #0033ff;
  }

  &.valid {
    border-color: #33cc00;
  }

  &.invalid {
    border-color: #b3261e;
    color: #b3261e;
  }
}

.invalid__code__message {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: -35px;
  color: #b3261e;
  @include font(14px, 2vw, 18px, 500, 22px);
}

.styledBtn {
  padding: 10px 20px 10px 20px;
  background-color: #616161;
  color: var(--text-color);
  border-radius: 12px;
  border: none;
  outline: none;
  width: 192px;
  margin: 0 auto;
  margin-top: 24px;
  @include font(14px, 2vw, 16px, 400, 19px);

  &.invalid {
    background-color: #b3261e;
    margin-top: 48px;
  }

  &.valid {
    background-color: green;
  }
  &.invalid__backendError {
    margin-top: 24px;
  }
}

.btn__resend {
  margin-top: 24px;
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: underline;
  text-decoration-color: #000000;
  @include font(14px, 2vw, 16px, 400, 19px);
  &.disabled {
    text-decoration-color: #989898;
  }
}
.error__backend {
  color: #b3261e;
  text-align: center;
  margin-top: 35px;
  @include font(14px, 2vw, 20px, 400, 19px);
}
