@import "../utils/container.scss";
@import "../utils/mixins";

.footer{
    @include flexSpaceBetween();
    padding-top: 37px;
    padding-bottom: 37px
}

.footer_nav{
    @include flexCenter();
    gap: 24px; 
    & nav{
        @include flexCenter();
        gap: 24px; 
        font-size: 20px;
        font-weight: 400px;

        & a {
            width: 280px;
            text-align: center;
            &:first-child {
                width: 128px;
            }
           
        }
        & p {
            font-size: 16px;
            width: 128px;
            text-align: center;
        }
    }
}


.footerIcons {
     fill: white;
  }

.btn_confirm{
    background: var(--btn-bg-confirm);
    border: 1px black solid ;
    border-radius: 20px;
    padding: 5px 10px ;
    width: 280px;
    text-align: center;

    font-size: 25px;
    font-weight: 500px;
}