@import "../utils/container.scss";
@import "../utils/mixins";

.header {
  background: transparent;
}
.container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--border);
  border-color: var(--border-color);
  padding: 15px 0;

  @include mediaQuery(1280px) {
    padding: 30px 0;
  }
}

@include mediaMaxQuery(1279px) {
  .container__header {
    display: grid;
    grid-auto-flow: column;

    gap: 16px;
    grid-template-areas:
      "logo__link nav"
      "text__link text__link";
  }
  .logo__link {
    justify-self: start;
    align-self: center;
    grid-area: logo__link;
  }
  .nav {
    grid-area: nav;
    justify-self: end;
    align-self: center;
  }
  .text__link {
    grid-area: text__link;
    align-self: center;
    justify-self: center;
  }
}

.text__link__chip {
  width: 100%;
  max-width: 300px;

  @include mediaQuery(1280px) {
    max-width: 438px;
  }
}
.nav {
  display: flex;
  gap: 16px;

  @include mediaQuery(768px) {
    width: 100%;
    max-width: 315px;
  }
  @include mediaQuery(1280px) {
    max-width: 336px;
  }
}

.link {
  width: 100%;
  @include flexCenter();
  padding: 10px 22px 10px 22px;
  background-color: #141416;
  border: var(--border-btn);

  border-radius: 30px;
  @include font(18px, 2vw, 18px, 400, 18px);
  @include mediaMaxQuery(767px) {
    display: none;
  }
}
.btn__exit {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 5px 5px 0;
}
.exit__chip {
  width: 30px;
  height: 25px;
  fill: #33cc00;
}
