@import "../utils/container.scss";
@import "../utils/mixins";

.header {
  background: linear-gradient(to bottom, #01cc01, #ffffff);
}
.container__header {
  display: flex;
  align-items: center;
  position: relative;
}

.logo__link {
  position: absolute;
}
.text__link {
  margin: 0 auto;
  padding: 48px 0;

  @include font(20px, 2vw, 40px, 400, 30px);
}

.nav {
  display: flex;
  gap: 16px;
}
.box__input {
  border: var(--border);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  max-width: 295px;
  @include mediaQuery(1280px) {
    width: 295px;
  }
}
.input {
  background: transparent;
  outline: none;
  border: none;
  padding: 8px 20px 8px 20px;

  @include font(14px, 2vw, 16px, 400, 19px);
  &::placeholder {
    color: var(--text-color);
  }
}
.btn {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}
.chip {
  transition: all 0.5s;
  &:focus,
  &:hover {
    scale: 1.15;
  }
}

.text__link__chip {
  @include font(20px, 2vw, 40px, 600, 30px);
}
.link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 192px;
  padding: 8px 20px 8px 20px;
  border: var(--border);
  border-radius: 12px;
}
