@import "../utils/container.scss";
@import "../utils/mixins";

.section {
  padding-top: 200px;
  // цей показик потім приберем
}

.container {
  display: flex;
}

.currentMenu {
  background: red;
}
