@import "../utils/container.scss";
@import "../utils/mixins";

.section {
  padding-top: 200px;
  // цей показик потім приберем
}

.container {
  display: flex;
}

.menu_list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.menu_button {
  width: 276px;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;

  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.currentMenu {
  background: #8ef569;
  padding-left: 12px;
}

.nav__icons_svg {
  margin-right: 10px;
}
