@import "../utils/container";
@import "../utils/mixins";

.section {
  padding-top: 55px;
}
.box__link {
  @include flexCenter();
  gap: 8px;
  @include font(20px, 2vw, 24px, 400, 29px);
}

.link__sign_in {
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}
.link__register {
  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}
.form {
  display: flex;
  flex-direction: column;

  padding-top: 24px;
  max-width: 400px;
  margin: 0 auto;
}

.form__box {
  position: relative;
}
.nth__child {
  margin: 25px 0 20px;
}
.label {
  position: absolute;

  top: -11px;
  left: 11px;
  background: #fff;
  padding: 0 4px;
  @include font(12px, 2vw, 13px, 400, 15px);
  &.invalid {
    color: #b3261e;
  }
}
.input {
  width: 100%;
  border: var(--border);
  border-radius: 12px;
  padding: 4px 25px 4px 16px;
  outline: none;
  background-color: transparent;
  @include font(14px, 2vw, 16px, 400, 46px);
  &:focus {
    border-color: #0033ff;
  }

  &.valid {
    border-color: #33cc00;
  }

  &.invalid {
    border-color: #b3261e;
  }
}

.error {
  position: absolute;
  bottom: -15px;
  left: 0;
  color: #b3261e;
  @include font(9px, 2vw, 12px, 400, 12px);
}

.chip__eye {
  position: absolute;
  right: 0;
  top: 8px;
  cursor: pointer;
}
.form__box__checkbox {
  padding-bottom: 24px;
}

.checkboxLabel {
  position: relative;

  display: flex;
  align-items: center;
  cursor: pointer;
  @include font(14px, 2vw, 16px, 400, 19px);

  .checkbox {
    appearance: none;
    width: 16px;
    min-width: 16px;
    height: 16px;
    border: var(--border);
    border-radius: 2px;
    margin-right: 16px;
    position: relative;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:checked + .chip__checkbox {
      cursor: pointer;
      display: block;
      position: absolute;
      top: 0;
      left: 4px;
    }
  }

  .chip__checkbox {
    display: none;
  }
}

.warning {
  position: absolute;
  top: 18px;
  right: -30px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #b3261e;
  @include flexCenter();
  color: #fff;
}
.chip__checkbox__valid {
  position: absolute;
  top: 17px;
  right: 10px;
  @include flexCenter();
  border: var(--border);
  border-radius: 50%;
  width: 21px;
  height: 21px;
}
.error__backend {
  color: #b3261e;
  text-align: center;
  margin-bottom: 24px;
  @include font(14px, 2vw, 20px, 400, 19px);
}
.styledBtn {
  padding: 10px 20px 10px 20px;
  background: #616161;
  color: #ffffff;
  border-radius: 12px;
  border: none;
  outline: none;
  width: 192px;
  margin: 0 auto;
  @include font(14px, 2vw, 16px, 400, 19px);

  .warning {
    position: static;
    background-color: #fff;
    color: #b3261e;
  }
  &.invalid {
    background-color: #b3261e;
    @include flexCenter();
    gap: 8px;
  }

  &.valid {
    background-color: green;
  }
}

// linkedin + google
.box__link__group {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
.text {
  @include font(14px, 2vw, 16px, 400, 19px);
}
.link__group {
  display: flex;
  align-items: center;
  gap: 32px;
}
// .link__icons {
// }
// .chip__google {
// }
// .chip__linkedin {
// }
.link__forgot__password {
  @include font(14px, 2vw, 16px, 400, 19px);

  text-decoration: underline;
  text-decoration-color: #000000;
  text-decoration-thickness: 1px;
}
